  .answers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 2em;
    /* gap: 1em; */
    row-gap: 0.8em;
    margin-left: 1em;
    margin-right: 1em;
  }

  .button {
    border: none;
    background-color: transparent;
  }

  .answerContent {
    display: flex;
    flex-direction: column;
    row-gap: 0em;
    align-items: center;
    text-align: center;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.75);
    border-radius: 8px;
    padding-top: 0.8em;
  }

  .answerContent:hover {
    box-shadow: 0px 2px 4px rgba(0,0,0,0.75);
  }

  .answerContent p{
    font-size: 1.2rem;
    font-family: 'Hind';
    line-height: 1em;
 
  }

  .questionInnerContainer {
    position: relative;
    width: 430px;
    height: 932px;
    background-color: white;

  }
  .questionContainer {
    display: flex;
    justify-content: center;
    background-color: rgb(225, 225, 225);

  }

  .textImageContainer {
    display: flex;
  
  }

  .button:nth-child(3):last-child{
    grid-column: span 2;
  }
 


  .questionText {
    text-align: center;
    font-size: 2em;
    font-family: 'Hind';
    font-weight: 400;
    margin-top: 1em;
    line-height: 1em;
    /* padding-left: 1em;
    padding-right: 1em; */
    padding: 0.5em;
    /* background-color: rgb(234, 234, 234); */
    
  }

  .footer {
    /* display: flex;
    background-color: #357C77;
    height: 3rem; */
    /* display: flex;
    background-color: #357C77;
    height: 3rem;
    margin-top: auto; */

    /* position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #357C77;
    height: 3rem; */
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; 
    background-color: #357C77;
    height: 3rem;
    z-index: 999;
  }

  .header {
    background-color: #357C77;
    height: 4rem;
    text-align: center;
    padding-top: 0.5em;
    font-family: 'Neighbourly';
    color: white;
    font-size: 3em;
  }

  /* .button:nth-child(odd) .answerContent {
    padding-left: 1.5em; 
  }
  
  .button:nth-child(even) .answerContent {
    padding-right: 1.5em; 
  } */


