.serviceMentorshipCardContainer {
    display: flex;
    justify-content: center;
    margin-top: 7em;

}
.classesCardInnerContainer {
    display: flex;
    flex-direction: column;
    max-width: 398px;
    padding-bottom: 1em;
    border-bottom: 1.5px solid var(--dark-grey);
}


.cardText h2{
    font-size: 1.1em;
    font-family: 'hindSemiBold';
    margin: 0;
    line-height: 0.5em;
    
}
.cardText {
    text-align: left;
    margin-left: 0em;
    padding-left: 0em;
    
}
.cardText p{
    text-align: left;
    font-size: 1em;
    font-family: 'hindRegular';
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    line-height: 1em;
}

.buttonContainer {
    position: relative;
}

.buttonContainer button {
    background-color: var(--button-grey);
    border-radius: 6px;
    font-family: 'HindSemiBold';
    font-size: 0.8750em;
    border: none;
    padding: 0.1em 1em;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
    width: 146px;
    height: 32px;
    position: absolute;
    bottom: 0.8em;
    left: 18em;


}
.buttonContainer button:hover{
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
}


.cardHeader {

}
.cardBody {

}
