.classCardContainer {
    display: flex;
    /* justify-content: center;
    align-items: center; */
}

.classCardInnerContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 1.5em;
    column-gap: 15px;
    max-width: 397px;
    margin: 0 auto;

}

.classCardSectionHeader {
    display: flex;
    justify-content: center;
  
}

.classCardSectionHeader p{
    font-family: 'hindSemiBold';
    font-size: 1.3em;
    margin-top: 1em;
    margin-bottom: 0em;

}

.classCardSectionHeaderOne {
    display: flex;
    justify-content: center;
}
.classCardSectionHeaderOne p{
    font-family: 'hindSemiBold';
    font-size: 1.3em;
    margin-top: 2em;
    margin-bottom: 0em;

}

.viewMoreCardContainer {
    display: flex;
    justify-content: center;
}
.viewMoreCard {
    position: relative;
    width: 191px;
    height: 168px;
}

.viewMoreCardOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(43, 43, 43, 0.85);
    z-index: 1;
}

.viewMoreCardContent {
    position: relative;
    width: 191px;
    height: 168px;
}

.viewMoreCardText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 2;
    margin: 0px;
    padding: 0px;
    font-family: 'hindSemiBold';
    font-size: 1.1em;
}

.main {
    margin-bottom: 8em;
    margin-top: 3em;
}
