.pageHeader {
    margin-top: 1em;
    text-align: center;
}
.pageHeader p{
    font-family: "HindSemiBold";
    font-size: 16pt;
    margin: 0em;
    line-height: 0em;
}

.profileInnerContainer {
    padding-top: 0.5em;
    padding-bottom: 0.2em;
    display: flex;
    flex-direction: row;
    column-gap: 2em;
    align-items: center;
    width: 100%;
    background-color: var(--white);
}

.pfp {
    padding-left: 1em;
    padding-top: 0em;
}

.name {
    font-family: "Hind";
    font-size: 12pt;
}

.editButton {
    text-align: right;
}
.editButton p{
    color: #3498db;
    font-family: "Hind";
    margin: 0em;
}

.profileContainer {
    display: flex;
}

.outerFormContainer {
    font-family: 'Hind';
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.formContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.formInnerContainer {
    background-color: var(--white);
    padding-left: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.formContainer label {
    font-family: 'HindSemiBold';
    padding: 0 3em 3em 0;
}

.formContainer input {
    width: 360px;
}

.formContainer textarea {
    width: 360px;
}

.buttonContainer {
    display: flex;
    justify-content: space-evenly;   
}

.commContainer p {
    font-family: 'hindSemiBold';
}

.commInnerContainer {
    width: 360px;  
}

.commContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: none;
    background-color: var(--button-grey);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.button img,
.selectedButton img {
    margin-top: 1em;
}

.button p,
.selectedButton p {
    margin-top: 0.5em;
    font-family: 'Hind';
}

.selectedButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: none;
    background-color: var(--yellow);
    box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.submitButtonOuterContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;


}


.submitButton button {
    border: none;
    background-color: var(--yellow);
    border-radius: 10px;
    width: 223px;
    height: 48px;
    font-family: "HindSemiBold";
    font-size: 13pt;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    margin-bottom: 0px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.submitButton {
    display: flex;
    justify-content: center;
    align-items: center;

}
