/* .nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    height: 136px;
    background-color: var(--teal);
} */

/* Title Only Header */
.layout1 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    height: 136px;
    background-color: var(--teal);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.layout1 h1 {
    margin-top: 2.5em;
    padding-bottom: 0.2em;
}


/* Service Provider Header*/
.layout2 {
    display: flex;
    justify-content: center;
}

.layout h1 {
    border-bottom: 1px solid var(--black);
}

