.categoryContainer {
    margin-top: 4em;
}


.categoryInnerContainer {
    max-width: var(--iphone-width);
    margin-top: 0;
    margin-bottom: 1.5em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
}
.categoryHeading p{
    font-family: 'HindSemiBold';
    font-size: 1.2500em;
    color: var(--black);
    margin-bottom: 0.6em;

}

.category {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--button-grey);
    border-radius: 10px;
    width: 87px;
    height: 87px;
    border: none;
}
.category:hover {
    box-shadow: 0px 2px 2px rgba(0,0,0,0.25);

}

.category span {
    font-family: 'Hind';
    font-size: 1em;
    color: var(--black);
    margin-top: 3.5em;
    line-height: 0.9em;
}

.category img {
    position: absolute;
    top: -10px;
}

.homeRepairText {
    padding-top: 0.2em;
}