.homeCardSectionInnerContainer {
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 1em;
    padding-top: 1em;
}

.homeCardSectionHeader p{
    font-family: 'hindSemiBold';
    font-size: 1.2em;
    margin-top: 2em;
    margin-bottom: 0.3em;
}

.homeCard img{
    border-bottom: 1px solid var(--dark-grey);
    padding-bottom: 0.8em;
}