.tabContainer {
    margin-top: 0;
    background-color: var(--teal);

}

.tabContainer ul {
    display: flex;
    margin-bottom: 0;
    padding: 0;
    height: 77px;
    list-style: none;
    overflow: hidden;
}

