.homeCardContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;

}
.homeCardInnerContainer{
    max-width: var(--iphone-width);
}
.homeCardHeader p{
    font-family: 'hindSemiBold';
    font-size: 1.1em;
    margin-bottom: 0em;
    margin-top: 0em;
    line-height: 0.7em;

}
.homeCardDate p{
    font-family: 'Hind';
    font-size: 1em;
    color: var(--black);
    margin-top: 0em;
    margin-bottom: 0em;

}
.homeCardImage img{
    margin-bottom: 1em;
    /* position: relative; */
}

.button button{
   margin-top: 0.5em;
    position: absolute;
    left: 23.5em;
    width: 76px;
    height: 24px;
    border: none;
    border-radius: 10px;
    font-family: 'HindSemiBold';
    font-size: 0.8em;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}
.button button:hover{
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);

}