.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px; /* adjust this value as needed */
    margin-bottom: 100px;
}


.header {
    text-align: center;
    font-size: 0.9em;
    font-family: 'HindSemiBold';
    line-height: 0em;
    padding-bottom: 0.5em;
}
