:root {
  
}
  @font-face {
    font-family: "Hind";
    src: url("/fonts/Hind-Regular.ttf");
  }

  @font-face {
    font-family: "HindBold";
    src: url("/fonts/Hind-Bold.ttf");
  }

  @font-face {
    font-family: "Neighbourly";
    src: url("/fonts/ZTGatha-SemiBold.ttf");
  }