body {
  /* no margin, center content container */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  background-color: var(--button-grey) 40%;
}

:root {
  --iphone-width: 432px;
  --iphone-height: 932px;

  --teal: #357C77;
  --yellow: #FDE9B0;
  --white: #fff;
  --black: #292929;
  --dark-grey: #6e6e6e;
  --med-grey: #d6d5d5;
  --button-grey: #f0f0f0;
  --background-grey: #F8F8F8;
  --beginner-tag-green: #C7FFB4;
  --intermediate-tag-yellow: #FDFFA6;

  --body-16pt: 16pt;
}

@font-face {
  font-family: "HindLight";
  src: url("/fonts/Hind-Light.ttf");
}
@font-face {
  font-family: "Hind";
  src: url("/fonts/Hind-Regular.ttf");
}
@font-face {
  font-family: "HindMedium";
  src: url("/fonts/Hind-Medium.ttf");
}

@font-face {
  font-family: "HindSemiBold";
  src: url("/fonts/Hind-SemiBold.ttf");
}

@font-face {
  font-family: "HindBold";
  src: url("/fonts/Hind-Bold.ttf");
}

@font-face {
  font-family: "Neighbourly";
  src: url("/fonts/ZTGatha-SemiBold.ttf");
}

@font-face {
  font-family: "sen";
  src: url("/fonts/Sen-VariableFont_wght.ttf")
}

