#__next {
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: var(--iphone-width);
  min-height: var(--iphone-height);
  margin: 0;
}

