.iphoneFrame {
  width: var(--iphone-width);
  min-height: var(--iphone-height);
  background-color: var(--white);
  box-shadow: 0 4px 8px 0 var(--med-grey), 0 6px 20px 0 var(--med-grey);
}

.main {
  display: flex;
  justify-content: center;
}

.mainInnerContainer {
  max-width: 397px;
  display: flex;
  flex-direction: column;
  margin-top: 0em;
}

.statsContainer {
  margin-top: -16em;
  margin-bottom: 8em;
}

.statsInnerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  border-radius: 15px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  padding: 0 2em;
}

.statsContainer h3 {
  font-family: 'hindSemiBold';
  font-size: 1.5em;
  text-align: center;
}

.mentorship {
  margin-top: 2em;
}