
  .main {
    display: flex;
    justify-content: center;
    margin-top: 3em;
    margin-bottom: 5em;
    max-width: var(--iphone-width);
  }
  

.quizIntro {
  font-family: 'Hind';
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 397px;
}

.quizIntro p {
  text-align: center;
  font-size: 1.2em;
  line-height: 1.2em;
}

.quizIntoImage {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.quizIntroTitle {
  text-align: center;
  margin-bottom: 0.5em;

}
.quizIntroTitle h1{
  font-size: 1.7em;
  font-family: 'hindSemiBold';
  line-height: 1em;

}

.quizIntroButton {
  display: flex;
  justify-content: center;
}


.quizIntroButton button{
  margin-top: 0.6em;
   width: 223px;
   height: 48px;
   border: none;
   border-radius: 10px;
   font-family: 'HindSemiBold';
   font-size: 1em;
   background-color: var(--yellow);
   box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);   
}

.quizIntroButton button:hover{
   box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);   
}

.quizIntroInner {
background-color: var(--white);
border-radius: 10px;
box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
padding: 1em;   

}

