.button {
    height: 48px;
    width: 223px;
    background-color: #f0f0f0;
    border: none;
    border-radius: 10px;
    font-family: 'HindSemiBold';
    font-size: 1em;
    margin-left: 87px;
    margin-top: 32px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
} 

.button:hover {
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
} 

.iphoneFrame {
    background-color: var(--teal);
    height: 932px;
    width: 430px;
}

.header {
    font-family: 'HindBold';
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 60px;
    font-size: 2.25em;
    margin: 0em;
}

.cardBackground {
    height: 688px;
    width: 398px;
    background-color: white;
    border-radius: 10px;
    margin-left: 16px;
}

.text {
    font-family: 'Hind';
    font-size: 7.5pt;
    margin: 8px;
    padding-top: 8px;
    line-height: 1.65;
}

.span {
    font-family: 'HindSemiBold';
}
